
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800";
body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

p, h6 {
  font-size: 0.8em;
}

td, th{
  font-size: 0.8em;
}

a {
  text-decoration: none!important;
  color: #495057; 
}
a:hover{
  color: #dc2430;
}

h5, label {
  font-size: 0.9em;
}

.list-unstyled a,
.list-unstyled a:hover,
.list-unstyled a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.card-hover .card, .card-hover .logo, .test .card{
  transition: 0.2s ease-in-out;
}

.card-hover .card:hover {
  transform: scale(0.95);
    border: 2px solid #dc2430;
}
.card-body{
  padding: 0.5em;
}

.card-hover .logo:hover {
  margin-top: -15px;
}

.borderless td, .borderless thead th {
    border: none;
}

.login .card {
  border-radius: 15px;
}

.base {
  color: #14315B;
}

.bg-base ,.dropdown-item.active, .dropdown-item:active {
  background-color: #14315B;
}

.accent {
  color: #08BBF1;
}

.bg-accent {
  background-color: #08BBF1;
  border: none;
}

.base-font {
  font-size: 0.8em;
}

.pagination, .dataTables_info {
  font-size: 0.8em;
}
.modal-header{
  border-bottom: none;
  padding: 1em 1em 0 1em;
}

.page-item.active .page-link{
  background-color: #08BBF1;
  border-color: #08BBF1;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f8f9fa!important;
}

.login{
  height: 100vh;
  background: linear-gradient(rgba(123, 67, 151, 0.6), rgba(220, 36, 48, 0.9)), url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/D8qa-2E/modern-city-buildings-skyline-background-real-estate_rd-4kyw_8__F0000.png);
  background-repeat: no-repeat; 
  background-size: cover;  
  background-color: #000;
 }

.login .btn {
  color: #fff;
  border-radius: 40px;
  transition: 0.3s;
  opacity: 0.7;
  background-image: linear-gradient(to right, #7b4397 0%, #dc2430 100%);
}
.login.btn:hover {
  opacity: 0.9;
  background-image: linear-gradient(to right, #dc2430 0%, #7b4397 100%);
}

.btn{
  color: #fff;
  border-radius: 40px;
  background-color: #dc2430;
}
.form-control{
  padding: 10px;
  border-radius: 40px;
}
.has-float-label .form-control:placeholder-shown:not(:focus)+*{
  top: 0.9em!important;
  font-size: 1em!important;
}
.test{
  top:-1500px;
}
.animate{
  top:0px;
  transition: opacity 1s ease-in;
  animation-name: example;
  animation-duration: 2s;
}

.fadein{
  transition: opacity 1s ease-in;
  animation-name: fadeIn;
  animation-duration: 1s;
}
.animate2{
  top:0px;
  transition: opacity 1s ease-in;
  animation-name: example2;
  animation-duration: 1s;
}

@keyframes example {
  0%   {left:0px; top:-1800px;}
  100% { left:0px; top:150px;}
} 

@keyframes example2 {
  0%   {left:0px; top:-500px;}
  100% { left:0px; top:0px;}
} 

@keyframes fadeIn {
   0% {opacity: 0;}
   25% {opacity: 0;}
   100% {opacity: 1;}
} 

.test .card:hover{
  transform:translateX(-25px);
  border-color: #08BBF1;
}


/* ---------------------------------------------------
    INPUTS
----------------------------------------------------- */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  font-weight: 600;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(82,168,236,0);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(82,168,236,0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(82,168,236,0);
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #14315B;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #14315B;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;

}

#sidebar ul li a {
    padding: 10px;
    font-size: 0.9em;
    display: block;
}

#sidebar ul li a:hover {
    color: #14315B;
    background: #FFC020;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    font-weight: 600;
    color: #fff;
    background: #08BBF1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background:#14315B;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


.bg-light{
  background-color: transparent!important;
  margin-top:30px;
  transition: 1s all;
}

.navbar-light .navbar-nav .active>
.nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link{
 color: #fff;
 transition: all 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover{
  animation-name: fadeIn;
  color: #dc2430;
  animation-duration: 0.5s;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
}
.bg {
  background:
      linear-gradient(rgba(123, 67, 151, 0.3), rgba(220, 36, 48, 0.6)),
      url(http://s1.picswalls.com/wallpapers/2014/08/08/house-high-quality-wallpaper_015636679_148.jpg); 
  background-size: cover;
  background-color: #000;
}
.heading{
  margin-top: 150px
}
.bg-white{
  transition: 1s all;
  margin-top:0px;
  background-color: #dc2430!important;
}