@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800";
body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}
.bg-light{
  background-color: transparent!important;
}

.navbar-light .navbar-nav .active>
.nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link{
 color: #fff;
 transition: all 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover{
  animation-name: fadeIn;
  color: #dc2430;
  animation-duration: 0.5s;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
}
.bg {
  background:
      linear-gradient(rgba(123, 67, 151, 0.3), rgba(220, 36, 48, 0.6)),
      url(http://s1.picswalls.com/wallpapers/2014/08/08/house-high-quality-wallpaper_015636679_148.jpg); 
  background-size: cover;
  background-color: #000;
}
.heading{
  margin-top: 150px
}

p, h6 {
  font-size: 0.8em;
}

td, th{
  font-size: 0.8em;
}

a {
  text-decoration: none!important;
  color: #495057; 
}
a:hover{
  color: #dc2430;
}

h5, label {
  font-size: 0.9em;
}

.list-unstyled a,
.list-unstyled a:hover,
.list-unstyled a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.card-hover .card, .card-hover .logo, .test .card{
  transition: 0.2s ease-in-out;
}

.card-hover .card:hover {
  margin-top: -10px;
}

.card-hover .logo:hover {
  margin-top: -15px;
}

.borderless td, .borderless thead th {
    border: none;
}

.login .card {
  border-radius: 15px;
}

.base {
  color: #14315B;
}

.bg-base ,.dropdown-item.active, .dropdown-item:active {
  background-color: #14315B;
}

.accent {
  color: #08BBF1;
}

.bg-accent {
  background-color: #08BBF1;
  border: none;
}

.base-font {
  font-size: 0.8em;
}